@model Core.Domain.Entities.BoardGameNight
@{
    ViewData["Title"] = "Bewerken Bordspelavond";
    Layout = "_Layout";
}

<h2>Edit Board Game Night</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="DateAndTime"><i class="fas fa-calendar"></i> Datum & Tijd</label>
        <input asp-for="DateAndTime" class="form-control" type="datetime-local"
            value="@Model.DateAndTime?.ToString("yyyy-MM-ddTHH:mm")" required />
        <span asp-validation-for="DateAndTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Address"><i class="fas fa-map-marker"></i> Adres</label>
        <input asp-for="Address" class="form-control" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="MaxPlayers"><i class="fas fa-users"></i> Maximaal aantal spelers</label>
        <input asp-for="MaxPlayers" class="form-control" required />
        <span asp-validation-for="MaxPlayers" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedBoardGameId"><i class="fas fa-dice"></i>Selecteer Bordspel</label>
        <select asp-for="SelectedBoardGameId" class="form-control" id="SelectedBoardGameId">
            <option value="">-- Selecteer een bordspel --</option>
            @if (Model.Games != null)
            {
                @foreach (var game in Model.Games)
                {
                    <option value="@game.Id" data-is18plus="@game.Is18Plus">@game.Name</option>
                }
            }
        </select>
        <span asp-validation-for="SelectedBoardGameId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="Is18Plus">
            <label class="form-check-label">18+</label>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="BringSnacks">
            <label class="form-check-label">Zelf snacks meenemen</label>
        </div>
    </div>

    <p>Dieetwensen en allergieën:</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="FoodAndDrinkOptions!.LactoseFree">
        <label class="form-check-label">Lactosevrij</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="FoodAndDrinkOptions!.NutFree">
        <label class="form-check-label">Notenvrij</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="FoodAndDrinkOptions!.Vegetarian">
        <label class="form-check-label">Vegetarisch</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="FoodAndDrinkOptions!.NonAlcoholic">
        <label class="form-check-label">Alcoholvrij</label>
    </div>


    <a href="/BoardGameNight/Index" type="submit" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Ga terug
    </a>

    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Opslaan
    </button>
</form>
