@model Core.Domain.Entities.BoardGame

@{
    ViewData["Title"] = "Verwijderen Spel";
    Layout = "_Layout";
}


<h2>Spel Verwijderen</h2>

<div>
    <p>Weet je zeker dat je dit spel wilt verwijderen?</p>
    <dl class="row">
        <dt class="col-sm-2"><i class="fas fa-file-signature"></i> Naam:</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2"><i class="fas fa-file-alt"></i> Beschrijving:</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2"><i class="fas fa-theater-masks"></i> Genre:</dt>
        <dd class="col-sm-10">@Model.Genre</dd>

        <dt class="col-sm-2"><i class="fas fa-id-card"></i>18+:</dt>
        <dd class="col-sm-10">@Model.Is18Plus</dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Terug naar lijst</a>
    </form>
</div>
