@model IEnumerable<Core.Domain.Entities.BoardGame>

<h2>Spellen:</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card">
                @if (!string.IsNullOrEmpty(item.PhotoUrl))
                {
                    <img src="@item.PhotoUrl" class="card-img-top" alt="Board Game Image">
                }
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@TruncateDescription(item.Description!)</p>
                    <p class="card-text"><strong>Genre: </strong>@item.Genre</p>
                    <p class="card-text"><strong>Speltype: </strong>@item.GameType!.Type</p>
                    <p class="card-text"><strong>18+: </strong>@(item.Is18Plus ? "Ja" : "Nee")</p>
                    <div class="text-center">
                        <a href="@Url.Action("Details", "BoardGame", new { id = item.Id })"
                            class="btn btn-primary btn-sm"><i class="fas fa-info-circle"></i> Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary" asp-action="Create">
                <i class="fas fa-plus"></i> Bordspel aanmaken
            </a>
        </div>
    </div>
</div>

@functions {
    string TruncateDescription(string description, int maxChars = 100)
    {
        if (description.Length <= maxChars)
            return description;

        return description.Substring(0, maxChars) + "...";
    }
}
